---
import Layout from "../layouts/Layout.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";
import projects from "../../projects.json";
import { Image } from "@astrojs/image/components";

export interface Props {
  title: string;
  body: string;
  href: string;
  showcaseImage: string;
  createdWith: string[];
  showGitHubButton?: boolean;
}
---

<Layout title="Andreas Amundsen Portfolio">
  <main>
    <h1>About <span class="text-gradient">me</span></h1>
    <div class="aboutMe">
      <img class="profileImage" src="pb.jpg" />
      <div>
        <p>
          Fifth year computer science student at NTNU. Currently writing my
          master thesis
        </p>

        <div class="contact">
          <a href="mailto:andreas@amundsen.dev"
            ><img src="mail.png" height="auto" width="50px" />
          </a>
          <a href={"https://github.com/amunds1"} target="_blank">
            <img src={"github.png"} height="auto" width="50px" alt={"GitHub"} />
          </a>
          <a
            href="https://www.linkedin.com/in/andreas-amundsen/"
            target="_blank"
          >
            <img src="linkedin.png" height="auto" width="50px" />
          </a>
        </div>
      </div>
    </div>
    <h1>My <span class="text-gradient">personal projects</span></h1>
    <ul role="list" class="link-card-grid">
      {projects.map((project: Props) => <ProjectShowcase {...project} />)}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    line-height: 1.6;
    margin: 1rem 0;
    /* border: 1px solid rgba(var(--accent), 25%); */
    /* background-color: white; */

    border-radius: 0.4rem;
    width: 100%;
  }

  .aboutMe > div {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    font-size: large;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact img {
    margin-right: 1rem;
  }

  .link-card-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }
  .profileImage {
    border-radius: 5%;
    max-width: 20rem;
    width: 100%;
  }
</style>
