---
import Layout from "../layouts/Layout.astro";
import ProjectShowcase, { Props } from "../components/ProjectShowcase.astro";
import projects from "../../projects.json";
---

<Layout title="Andreas Amundsen Portfolio">
  <main class="flex flex-col gap-8">
    <span>
      <h1 class="font-[3rem] pb-6">
        <div class="text-gradient">About me</div>
      </h1>
      <div
        class="flex flex-col md:justify-center md:flex-row md:items-center gap-8"
      >
        <img
          class="w-48 h-48 object-cover object-center rounded-full border-4 border-white shadow-lg"
          src="pb.jpg"
        />
        <div>
          <p class="text-lg font-medium text-gray-700">
            Software developer @ <a
              href="https://www.bekk.no/"
              target="_blank"
              class="text-blue-500 hover:text-blue-700">Bekk</a
            >
          </p>
          <p class="text-lg text-gray-600">Oslo, Norway</p>

          <div class="contact flex flex-row mt-4">
            <a href="mailto:andreas@amundsen.dev" class="mr-4">
              <img src="mail.png" height="auto" width="50px" />
            </a>
            <a href={"https://github.com/amunds1"} target="_blank" class="mr-4">
              <img
                src={"github.png"}
                height="auto"
                width="50px"
                alt={"GitHub"}
              />
            </a>
            <a
              href="https://www.linkedin.com/in/andreas-amundsen/"
              target="_blank"
            >
              <img src="linkedin.png" height="auto" width="50px" />
            </a>
          </div>
        </div>
      </div>
    </span>
    <span>
      <h1><span class="text-gradient">My projects</span></h1>
      <ul role="list" class="flex flex-col gap-6 mt-6">
        {projects.map((project: Props) => <ProjectShowcase {...project} />)}
      </ul>
    </span>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
