---
export interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --background-color: #f1d3b3;
    --card-color: #c7bca1;
    --accent: rgba(124, 58, 237, 1);
    --accent-gradient: linear-gradient(
      45deg,
      rgb(43, 46, 74) 0%,
      rgb(232, 69, 69) 13%,
      rgb(144, 55, 73) 43%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background-color);
    line-height: 1.6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
